<div
  (click)="handleActive()"
  [ngClass]="
    isActive()
      ? 'scale-[1.02] sm:scale-105 shadow-[0_0_0_2px_white] sm:shadow-[0_0_0_4px_white]' + ' ' + color()
      : 'scale-100 shadow-none'+ ' ' + color()
  "
  class="flex flex-col rounded-2xl sm:rounded-3xl p-4 sm:p-5 gap-2 hover:scale-[1.02] sm:hover:scale-105 transition-all duration-300"
>
  <h1 class="text-xl sm:text-2xl font-bold text-white">{{title()}}</h1>
  <span class="text-white/70 text-sm sm:text-base font-semibold">{{subtitle()}}</span>
  <span class="text-white text-xl sm:text-2xl">{{hearts()}}</span>
</div>