<div class="flex flex-col items-center gap-5 mt-10">
    <h1 class="text-2xl font-bold text-white">SELECCIONA TU NIVEL</h1>
    <app-quiz-card  
    class="w-full" [title]="'FÁCIL'" [subtitle]="'Perfecto para empezar'" [hearts]="'♥ ♥ ♥ '" [color]="'bg-green-600'"
    
    [isActive]="activeIndex() === 0"
    (active)="handleActive(0, 'EASY')"
    ></app-quiz-card>

    <app-quiz-card class="w-full" [title]="'MEDIO'" [subtitle]="'Para los que ya saben un poco'" [hearts]="'♥ ♥ '" [color]="'bg-yellow-500'"
        
    [isActive]="activeIndex() === 1"
    (active)="handleActive(1, 'MEDIUM')">
    </app-quiz-card>
    <app-quiz-card class="w-full" [title]="'DIFICIL'" [subtitle]="'Para los que saben mucho'" [hearts]="'♥'" [color]="'bg-red-600'"
        
    [isActive]="activeIndex() === 2"
    (active)="handleActive(2, 'HARD')">   
    </app-quiz-card>

    <app-quiz-start class="w-full">

    </app-quiz-start>
</div>